html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}

.title1 {
    font-weight: bold;
}

.title1-1 {
    font-weight: normal;
}

.title2 {
    font-weight: normal;
}

.title2-1 {
    font-weight: normal;
}